img {
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.head {
  font-family: "gulim";
}

.box {
  width: 100px;
  height: 100px;
  background-color: salmon;
  margin: 10px;
  padding: 40px;
  border: 4px solid black;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 5px gray;
}

.header {
  width: 100%;
  height: 100px;
  background: aquamarine;
}
